.box{
    margin: 0 25px;
    border: 2px solid black;
    width: 35px;
    height: 35px;
    position: relative;
}

@keyframes example {
    from{
        left: 0;
        background-color: rgb(47, 178, 229);
    }
    to{
        left: 250px;
        background-color: rgb(157, 249, 45);
    }

}

.linear{
    animation: example 2s linear infinite alternate;
}
.ease{
    animation: example 2s ease infinite alternate;
}
.ease-in{
    animation: example 2s ease-in infinite alternate;
}
.ease-out{
    animation: example 2s ease-out infinite alternate;
}
.ease-in-out{
    animation: example 2s ease-in-out infinite alternate;
}